@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300, 400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/*------ COLOR PALLET-----*/
/*
#565347  :  GREY(link & Paragraph)
#81785a  :  LIGHT GREY(border bottom)
#820000  :  RED(Headings)
#eae9e6  :  BORDER
*/

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, div {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lato', 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color:inherit;
    text-decoration: none;
}

a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}

.transition{
	-webkit-transition: .1s;
	transition: .1s;
}

.transition1{
	-webkit-transition: .2s;
	transition: .2s;
}



/* Shadows */
.templateAllShadow {
-moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
-webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.090);
}

/*.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 5px grey;
}*/

.allShadow {
-moz-box-shadow: 0 0 3px black;
-webkit-box-shadow: 0 0 3px black;
box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);
}

.rightBottomShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.innerShadow1{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.innerShadow2{
  box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -webkit-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -moz-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
  -o-box-shadow: inset 0px 0px 13px 1px #B1B1B1;
}

.headerInsetShadow{
	-moz-box-shadow:   inset  0 -8px 8px -8px #696868;
   -webkit-box-shadow: inset  0 -8px 8px -8px #696868;
   box-shadow:         inset  0 -8px 8px -8px #696868;
}

.bottomShadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.5);
}

.bottomFixedNavShadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);
}

.upperShadow {
  -webkit-box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px -5px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px -5px 5px 0px rgba(50, 50, 50, 0.5);
}

.textShadow{
    font:100px Lato Bold;
    text-transform:uppercase;
    color:#313543;
    text-align:center;
    margin-top:10%;
    margin-bottom:0px;
    text-shadow:rgba(0,0,0,0.8) 0px -2px 0px,rgba(255,255,255,0.3) 0px 2px 2px;
 }
 
/* --------------------- PRE LOADER STYLES ---------------------- */
#loader_form{
	margin-top:30px;
	margin-left:180px;
	position:absolute;
	display:none;
}

.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .3em solid rgba(232,87,88, 0.3);
  border-right: .3em solid rgba(232,87,88, 0.3);
  border-bottom: .3em solid rgba(232,87,88, 0.3);
  border-left: .3em solid #E85758;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* Return To Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:10000000;
	display:none;
}
#return-to-top #topIcon {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position:relative;
	top:12px;
	left:12px;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover #topIcon {
    color: #fff;
    top: 5px;
}


/*-------FIXED SIDEBAR-------*/
#fixedSidebar{
	position:fixed;
	right:0px;
	/*right:-155px;*/
	top:30%;
	z-index:100000000000;
	color:white;
	font-size:16px;
	text-align:left;
	display:none;
}

#FS1Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

#FS1Container:hover, #FS2Container:hover, #FS3Container:hover{
	right:0px;
	cursor:pointer;
}

#FS2Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

#FS3Container{
	margin-bottom:15px;
	position:relative;
	right:-20px;
}

.leftTriangle1{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #85569F;
	position:absolute;
	left:-23px;
}

.leftTriangle2{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #2997FF;
	position:absolute;
	left:-23px;
}

.leftTriangle3{
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
	border-right: 23px solid #EF744C;
	position:absolute;
	left:-23px;
}

#FS1{
	padding:15px 0;
	width:150px;
	background-color:#85569F;
	text-transform:capitalize;
}

#FS2{
	width:150px;
	padding:15px 0;
	background-color:#2997FF;
	text-transform:capitalize;
}

#FS3{
	width:150px;
	padding:15px 0;
	background-color:#EF744C;
	text-transform:capitalize;
}

.hex1:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex1 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #76D690;
    position: relative;
}

.hex1:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}


.hex2:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #2E3846;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex2 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #2E3846;
    position: relative;
}

.hex2:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #2E3846;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}


.hex3:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #4e4b63;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex3 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #4e4b63;
    position: relative;
}

.hex3:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #4e4b63;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex4:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid lightgrey;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex4 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: lightgrey;
    position: relative;
}

.hex4:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid lightgrey;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex5:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex5 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #76D690;
    position: relative;
}

.hex5:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}

.hex6:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #2E3846;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}

.hex6 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #2E3846;
    position: relative;
}

.hex6:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #2E3846;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}




/*.hex11:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
    position: absolute;
    top: -44px
}*/

.hex11 {
    margin-top: 45px;
    width: 156px;
    height: 90px;
    background-color: #76D690;
    position: relative;
}

.hex11:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -44px;
    border-top: 45px solid #76D690;
    border-left: 78px solid transparent;
    border-right: 78px solid transparent;
}


/* Different Resolution styles */

/*@media only screen and (min-width:641px) and (max-width:1366px) {*/

@media only screen and (min-width:1367px) and (max-width:1440px) {
}

@media only screen and (max-width:1366px) {
}


/*	Layout Styles	*/
html, body{
	background-color: #F8F5F2;
}

#container{
	position: relative;
	width:100%;
	margin:0 auto;
	
}


/* Header Styles */
header{
	position: relative;
	/*background-color:black;*/
	height:inherit;
	background-color:rgba(118,214,145,.5);
}


#headerContainer{
	width:100%;
	margin:0 auto;
	border-top:5px solid #2D3339;
}

#h1h2Container{
	margin:0 auto;
	position:relative;
}
/*
#headerBorder1{
	position:absolute;
	width:40px;
	height:2px;
	background-color:#333645;
	left:70px;
}

#headerBorder2{
	position:absolute;
	width:175px;
	height:2px;
	background-color:#333645;
	left:110px;
}*/

header h1{
	font-size: 25px;	
	font-weight: 700;
	word-spacing: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	padding-left:70px;
	top:-3px;
	color:white;
  	text-shadow: #bbb 0 0 0px, #fff 0 -0px 1px, #fff 0 -0px 0px, rgba(0,0,0,0.8) 0 1px 7px;
}

header h2{
	float:right;
	font-size:22px;
	position:relative;
	top:-42px;
	padding-right:70px;
	color:white;
  	text-shadow: #bbb 0 0 0px, #fff 0 -0px 1px, #fff 0 -0px 0px, rgba(0,0,0,0.8) 0 1px 7px;
}

header h1 span{
	font-weight:300;
}

#tagLine{
	color:white;
	/*color:#2E3846;*/
	font-family:'Quicksand','Lato', 'Open Sans';
	font-size:40px;
	text-transform:capitalize;
	width:100%;
	text-align:center;
	margin-top:50px;
	font-weight:700;
	letter-spacing:-2px;
}








.container {
	position: relative;
	/*	width: 100%;
	height: 300px;*/
	background-color:#76d691;
	
	background-image: url(../site_images/BG/5.png);
	width: 100%;
	height: 230px;
	background-position: 0px -90px;
	background-repeat: repeat;
}

/*.container:after {
    background: linear-gradient(-45deg, #F8F5F2 16px, transparent 0), linear-gradient(45deg, #F8F5F2 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 24px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}*/

#subTitleForm{
	width:100%;
	background-color:#F68565;
	position:relative;
	border-top:2px solid #2E3846;
	/*border:1px solid lightgrey;*/

}

#subTitleFormCenter{
	width:1200px;
	position:relative;
	font-size:20px;
	color:white;
	margin:0 auto;
	height:400px;
	top:-100px;
}

#tickIcon{
	position:absolute;
	top:61px;
	left:360px;
	z-index:1000;
	opacity:0;
}

#hexContainer{
	position:relative;
	right:-20px;
	top:50px;
}

#hex1{
	position:absolute;
	left:300px;
	top:100px;
	-webkit-transform:scale(1);
	transform:scale(1);
}

#hexText1, #hexText2, #hexText3{
	position:absolute;
	text-align:center;
	font-family:'Quicksand','Lato', 'Open Sans';
	font-size:20px;
	font-weight:700;
	text-transform:capitalize;
	margin-top:25px
}

#hex2{
	position:absolute;
	left:210px;
	top:250px;
	-webkit-transform:scale(1);
	transform:scale(1);
}

#hex3{
	position:absolute;
	left:390px;
	top:250px;
	-webkit-transform:scale(1);
	transform:scale(1);
}

#hex4{
	position:absolute;
	left:300px;
	top:100px;
	-webkit-transform:scale(1);
	transform:scale(1);
	display:none;
}

#hex11{
	position:absolute;
	top:50px;
}

#hex11Text{
	color:#2E3846;
	font-family:'Quicksand', 'Lato';
	font-weight:400;
	font-size:26px;
	position:relative;
	top:25px;
	left:25px;
}

/*---------------- FORM CONTAINER ----------------*/
#annuityFormContainer{
	width:300px;
	background-color:#2E3846;
	padding-bottom:80px;
	padding-top:20px;
	padding-right:80px;
	padding-left:80px;
	/*border-radius:5px;*/
	position:relative;
	float:right;
	text-align:center;
	margin-top:100px;
	font-family:'Lato';
}

.formTriangle {
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent; 
	border-right:30px solid #2E3846; 
	position:relative;
	right:105px;
	top:70px;
	
}

#formInstructions{
	position:absolute;
	top:-30px;
	left:-30px;
	color:grey;
	font-size:16px;
	width:110%;
	display:none;
}

#annuityFormContainer img{
	border-radius:50%;
	margin:0 auto;
}

#annuityFormContainer  h1{
	font-size:34px;
	font-family:'Quicksand', 'Lato';
	font-weight:700;
	color:#76D690;
	margin-top:10px;
	margin-bottom:10px;
}

#annuityFormContainer h2{
	color:#F68565;
	margin-bottom:30px;
}

#submit_form{
	position:relative;
	left:-5px;
}

label {
	display: block;
	padding: 10px 0 2px;
	color: #F8F5F2;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-align:left;
}

input[type="text"],
input[type="password"]{
	padding: 8px;
	width: 100%;
	border: 2px solid #e75854;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
	border-radius:2px;
	background-color:white;
}

select{
	padding: 8px;
	width: 106%;	
	border: 2px solid #e75854;
	color: #b09a86;
	font-size:  16px;
	font-family:inherit;
	font-weight:inherit;
}

textarea{
	padding: 10px;
	width: 100%;
	border: 2px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border-color: #e75854;
	color: #e75854;
}

select option {
	background-color:#E75854;
	color:#FEF0E3;
	font-size: 16px;
	font-family:inherit;
	font-weight:inherit;
}

input:focus,textarea:focus,select:focus {
	outline: 0;
}

button {
	display: block;
	width: 80%;
	height:50px;
	margin:0px auto;
	border: none;
	background: #76D690;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 1.25em;
	font-family:'Lato',Arial;
	cursor:pointer;
	-webkit-transition: all .2s;
	transition: all .2s;
	position:relative;
	left:10px;
	top:40px;
}

button:hover {
	background-color:#F68565;
	top:42px;
}

#fromDisclaimer{
	color:grey;
	position:relative;
	bottom:0px;
	text-align:center;
	font-size: 13px;
	top:40px;
}

#fromDisclaimer:hover{
	color:#E85657;
}


#hexDescription{
	width:1200px;
	margin:0 auto;
	color:grey;
	font-size:16px;
	line-height:1.4;
}

#HD1Container{
	width: 500px;
	background-color: white;
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #4E4B63;
	border-right-color: lightgrey;
	border-bottom-color: lightgrey;
	border-left-color: lightgrey;
	position:relative;
}

#HD1Container h1{
	position:absolute;
	right:-120px;
	top:30px;
	width:100px;
	text-align:center;
	font-size:24px;
	line-height:1.2;
	color:#4E4B63;
}

#HD1Text{
	padding:20px;
}





#HD2Container{
	width: 500px;
	background-color: white;
	position: relative;
	margin-top: 50px;
	margin-left: 160px;
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #76D690;
	border-right-color: lightgrey;
	border-bottom-color: lightgrey;
	border-left-color: lightgrey;
	position:relative;
}

#HD2Container h1{
	position:absolute;
	left:-140px;
	top:30px;
	width:120px;
	text-align:center;
	font-size:24px;
	line-height:1.2;
	color:#76D690;
}

#HD2Text{
	padding:20px;
}


#HD3Container{
	width: 500px;
	background-color: white;
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
	border-top-width: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F68565;
	border-right-color: lightgrey;
	border-bottom-color: lightgrey;
	border-left-color: lightgrey;
	position:relative;
}

#HD3Container h1{
	position:absolute;
	right:-120px;
	top:30px;
	width:100px;
	text-align:center;
	font-size:24px;
	line-height:1.2;
	color:#F68565;
}

#HD3Text{
	padding:20px;
}






